.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-title{
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
}

.container-search{
  display: flex;
  align-items: center;
  position: relative;
}

.button-search{
  position: absolute;
  top: 0;
  right: 0;
}

.input-search{
 width: 400px;
 margin-right: 5em;
}


.list-locations{
  position: absolute;
  background: black;
  list-style: none;
  width: 100%;
  padding: 0;
}


.location-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.location-info{
  display: flex;
  gap: 2em;
}

.cards{
display: flex;
flex-wrap: wrap;
justify-content: center;
border-radius: 1em;
gap: 1em;
}

.content-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(5, 7,12, 0.5), rgba(5, 7,12, 0.3));
}